---
layout: page
title: Yuhao Zhong
weight: 1.5
show: 1
---
<!-- Webpage colors -->
<body style="background-color: #fffbf6;">   
<style>
  h1 {
    display: none;
  }
  h2 {
    border-bottom: 2px solid #681313 !important; /* Creates the line */
  }
</style>

<!-- Header -->
<header style="display: flex; justify-content: space-between; align-items: center; padding: 0px 0px;">
  <!-- University Logo on the left -->
  <div>
      <img src="/images/TAMUlogo.png" alt="Logo" style="background-color: transparent; height: 75px; border: none; box-shadow: none;">
      <img src="/images/Virginia_Tech_seal.png" alt="VT Logo" style="background-color: transparent; height: 76px; border: none; box-shadow: none;" >
  </div>

  <!-- Navigation Links on the right -->
  <nav>
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: center; gap: 20px;">
        <li><a href="/index.html" style="text-decoration: none; color: none;"></a></li>  
        <li><a href="/index.html" style="text-decoration: none; color: #520d0d;"><strong>Home</strong></a></li>
        <li><a href="/news/" style="text-decoration: none; color: #520d0d;">News</a></li>
        <li><a href="/research/" style="text-decoration: none; color: #520d0d;">Research</a></li>
        <!-- <li><a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #520d0d;">Publications</a></li> -->
        <!-- <li><a href="/awards/" style="text-decoration: none; color: #520d0d;">Awards</a></li> -->
         <li><a href="/people/" style="text-decoration: none; color: #520d0d;">Team</a></li>
        <li><a href="/teaching/" style="text-decoration: none; color: #520d0d;">Teaching</a></li>
        <!-- <li><a href="/blogs/" style="text-decoration: none; color: #520d0d;">Blogs</a></li> -->
        <!-- <li><a href="https://www.overleaf.com/read/ftksccpbdsbb#d980c4" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #520d0d;">CV</a></li>  -->
    </ul>
  </nav>
</header>


<div class="page-content">
    <div class="wrapper">
      <article class="post">

        <!-- Profile -->
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 22px; margin-left: 26px;">
          <!-- Profile Image -->
          <div style="margin-top: 15px; margin-right: 20px;">
              <img src="images/YuhaoZhong_pic.jpg" alt="Yuhao Zhong" style="height: 186px; border: none; box-shadow: none;">
          </div>
      
          <!-- Profile Information -->
          <div style="text-align: left;">
              <h3 style="font-size: 30px;">Yuhao Zhong (钟毓豪)</h3>
              <p>
                  <b>Ph.D. Candidate</b>, advised by Prof. Satish Bukkapatnam<br>
                Wm Michael Barnes '64 Department of Industrial and Systems Engineering, Texas A&M University
              </p>
              <p>
                <b>Assistant Professor (Starting Fall 2025)</b><br>
              Grado Department of Industrial and Systems Engineering, Virginia Tech
            </p>
              <p>
                  <a href="mailto:hirobin_zhong@tamu.edu" style="color: #0266D6;">[hirobin_zhong at tamu dot edu]</a> 
                  <a href="https://www.overleaf.com/read/ftksccpbdsbb#d980c4" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[CV]</a> 
                  <a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[Google Scholar]</a> 
                  <!-- <a href="https://github.com/YuhaoZhong-tamu/" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[Github]</a>  -->
                  <a href="https://www.linkedin.com/in/yuhao-zhong/" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[Linkedin]</a>
              </p>
          </div>
        </div>
<br>
<p style="font-size: 18px">
  My research focuses on advancing <b>data science methods</b> and harnessing <b>sensors</b> and <b>intelligent machines</b> to address fundamental challenges in <b>quality, safety, and performance assurance</b>, 
    and to facilitate <b>knowledge discovery</b>&mdash;primarily within <b>manufacturing</b> processes and systems&mdash;in the broader context of Industry 4.0 and 5.0.
</p>

<!-- Recruit -->
<p style="color: #CF4420;"><i>I'm actively seeking motivated PhD students starting Fall 2025. If you're interested, please email your CV to <a href="mailto:yzhonglab@gmail.com" style="color: #0266D6;">yzhonglab@gmail.com</a>. </i> <br> 
  <i>If you're a current VT Master’s/Undergrad student interested in exploring research with me, also feel free to reach out.</i></p>

<h2>Current Research Areas</h2>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Explainable AI, generative AI, computer vision, and statistical methods </li>
  <li> Process-structure-property (PSP) knowledge discovery and uncertainty quantification </li>
  <li> Anomaly detection/localization and prognostics  </li>
  <li> Human-robot collaborative manufacturing </li>
</ul>
</p>

<h2>Latest News</h2>
<ul>
  {% for post in site.posts limit: 4%}
    <li>
      {{ post.date | date: "%m/%Y" }} - 
      {% if post.nolink %}
        {{ post.title }}
      {% else %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %} 
      <p style="margin: 4px 8px 8px 12px; color: #777;">{{ post.excerpt}}</p> <!-- This displays the post excerpt -->
    </li>
  {% endfor %}
</ul>

<a href="/news/">See all news →</a>
    

<h2>Selected Papers</h2>
<ul style="list-style: none; padding: 0;">
  {% for paper in site.papers limit: 3 %}
    <li style="margin-bottom: 30px; display: flex; align-items: flex-start;">
      <div style="display: flex; flex-direction: column; margin-right: 10px;">
        {% if paper.images and paper.images.size > 2 %}
          <img src="{{ paper.images[0] }}" alt="Paper Image" style="max-width: 156px; margin-bottom: 6px; border-radius: 2px;">
        {% else %}
          {% for image in paper.images %}
            <img src="{{ image }}" alt="Paper Image" style="max-width: 156px; margin-bottom: 6px; border-radius: 2px;">
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <h3 style="margin: 0;"><a href="{{ paper.links }}" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">{{ paper.title }}</a></h3>
        <p style="margin: 5px 0; color: #555;"><strong>Authors: </strong>{{ paper.authors }}</p>
        <p style="margin: 5px 0; color: #555;"><strong> In: </strong>{{ paper.journal }}, {{ paper.year }}</p>
        <p style="margin: 0px; color: #555;"><strong>TLDR: </strong>{{ paper.tldr}}</p>
      </div>
    </li>
  {% endfor %}
</ul>

<a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">See all publications →</a>


<h2>Selected Awards</h2>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> <a href = "https://grad.tamu.edu/aggie-life/news/texas-a-m-announces-the-2024-u-s-senator-phil-gramm-doctoral-fellowship-award-winners" target="_blank" rel="noopener noreferrer">U.S. Senator Phil Gramm Doctoral Fellowship, 2024</a> </li>
  <li> Fox Graduate Fellowship, 2024 </li>
  <li> <a href = "https://tamids.tamu.edu/2024/07/15/tamids-announces-2024-2025-student-ambassador-cohort/" target="_blank" rel="noopener noreferrer">Texas A&M Institute of Data Science (TAMIDS) Student Ambassador Scholarship, 2023 & 2024</a> </li>
  <li> <a href = "https://www.iise.org/Details.aspx?id=17500" target="_blank" rel="noopener noreferrer">Winner, IISE Data Analytics & Information Systems (DAIS) Student Best Paper Contest, 2023</a> </li>
</ul>
</p>

</article>
</div>
</div>
</body>

