---
layout: page
title: Yuhao Zhong
weight: 1.5
show: 1
---
<!-- Webpage colors -->
<body style="background-color: #fffbf6;">   
<style>
  h1 {
    display: none;
  }
   h2 {
    border-bottom: 2px solid #681313 !important; /* Creates the line */
  }

  .lab-name {
    font-size: 16px;
    font-weight: bold;
    color: #861F41;  /* VT Maroon */
  }
</style>

<!-- Header -->
<header style="display: flex; justify-content: space-between; align-items: center; padding: 0px 0px;">
  
  <!-- Left Block: Logo + Lab Name together -->
  <div style="display: flex; align-items: center;">
      <!-- University Logo -->
      <img src="/images/Virginia_Tech_seal.png" alt="VT Logo" style="background-color: transparent; height: 78px; border: none; box-shadow: none; margin-right: 10px;">
      
      <!-- Lab Name -->
      <div class="lab-name">
          Human-centric AI & Smart Manufacturing Lab <br> at Virginia Tech
      </div>
  </div>

  <!-- Navigation Links on the right -->
  <nav>
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: center; gap: 20px;">
        <li><a href="/index.html" style="text-decoration: none; color: none;"></a></li>  
        <li><a href="/index.html" style="text-decoration: none; color: #861F41;"><strong>Home</strong></a></li>
        <li><a href="/news/" style="text-decoration: none; color: #861F41;">News</a></li>
        <li><a href="/research/" style="text-decoration: none; color: #861F41;">Research</a></li>
        <li><a href="/people/" style="text-decoration: none; color: #861F41;">Team</a></li>
        <li><a href="/teaching/" style="text-decoration: none; color: #861F41;">Teaching</a></li>
    </ul>
  </nav>

</header>


<div class="page-content">
    <div class="wrapper">
      <article class="post">

        <!-- Profile -->
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 22px; margin-left: 26px;">
          <!-- Profile Image -->
          <div style="margin-top: 15px; margin-right: 20px;">
              <img src="images/YuhaoZhong_pic.jpg" alt="Yuhao Zhong" style="height: 186px; border: none; box-shadow: none;">
          </div>
      
          <!-- Profile Information -->
          <div style="text-align: left;"> 
            <!-- style="text-align: left;" -->
              <h3 style="font-size: 24px;">Yuhao Zhong (钟毓豪)</h3>
              <p style="font-size: 18px">
              <em>Ph.D.</em>, Assistant Professor <br>
              <a href="https://www.ise.vt.edu/" style="color: #0266D6;">Grado Department of Industrial and Systems Engineering</a><br>
              Virginia Tech
            </p>
              <p style="font-size: 18px">
                  <a href="mailto:yuhao@vt.edu" style="color: #0266D6;">[yuhao at vt dot edu]</a> 
                  <a href="https://www.overleaf.com/read/ftksccpbdsbb#d980c4" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[CV]</a> 
                  <a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[Google Scholar]</a> 
                  <!-- <a href="https://github.com/YuhaoZhong-tamu/" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[Github]</a>  -->
                  <a href="https://www.linkedin.com/in/yuhao-zhong/" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">[Linkedin]</a>
              </p>
          </div>
        </div>
<br>
<p style="font-size: 18px">
  Our lab focuses on advancing <b>data science methods</b> and harnessing <b>sensors</b>, <b>machines</b>, and <b>human capabilities</b> to address fundamental challenges in <b>quality, safety, and performance assurance</b>, 
    and to facilitate <b>scientific knowledge discovery</b>&mdash;primarily in <b>manufacturing</b> processes and systems, and more broadly in Industry 4.0 and 5.0 contexts. 
</p>

<!-- Recruit -->
<p style="color: #CF4420;"><i>I'm actively seeking self-motivated PhD students. If you're interested, please email your CV to <a href="mailto:yzhonglab@gmail.com" style="color: #0266D6;">yzhonglab@gmail.com</a>. </i> <br> 
  <i>If you're a current VT Master’s/Undergrad student interested in exploring research with us, also feel free to reach out.</i></p>

<h2>Current Research Areas</h2>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Explainable AI, generative AI, computer vision, and statistical methods </li>
  <li> Process-structure-property (PSP) knowledge discovery  </li>
  <li> Anomaly detection and prognostics  </li>
  <li> Human-robot collaboration </li>
</ul>
</p>

<h2>Latest News</h2>
<ul>
  {% for post in site.posts limit: 3%}
    <li>
      <b>{{ post.date | date: "%m/%Y" }} - </b> 
      {% if post.nolink %}
        {{ post.title }}
      {% else %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endif %} 
      <p style="margin: 4px 8px 8px 12px; color: #777;">{{ post.excerpt}}</p> <!-- This displays the post excerpt -->
    </li>
  {% endfor %}
</ul>

<a href="/news/">See all news →</a>
    

<h2>Selected Papers</h2>
<ul style="list-style: none; padding: 0;">
  {% for paper in site.papers limit: 4 %}
    <li style="margin-bottom: 30px; display: flex; align-items: flex-start;">
      <div style="display: flex; flex-direction: column; margin-right: 10px;">
        {% if paper.images and paper.images.size > 2 %}
          <img src="{{ paper.images[0] }}" alt="Paper Image" style="max-width: 156px; margin-bottom: 6px; border-radius: 2px;">
        {% else %}
          {% for image in paper.images %}
            <img src="{{ image }}" alt="Paper Image" style="max-width: 156px; margin-bottom: 6px; border-radius: 2px;">
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <h3 style="margin: 0;"><a href="{{ paper.links }}" target="_blank" rel="noopener noreferrer" style="color: #0266D6;">{{ paper.title }}</a></h3>
        <p style="margin: 5px 0; color: #555;"><strong>Authors: </strong>{{ paper.authors }}</p>
        <p style="margin: 5px 0; color: #555;"><strong> In: </strong>{{ paper.journal }}, {{ paper.year }}</p>
        <p style="margin: 0px; color: #555;"><strong>TLDR: </strong>{{ paper.tldr}}</p>
      </div>
    </li>
  {% endfor %}
</ul>

<a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">See all publications →</a>


<h2>Selected Awards</h2>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Outstanding Paper Award in Manufacturing Processes, North American Manufacturing Research Conference (NAMRC), 2025</li>
  <li> <a href = "https://grad.tamu.edu/aggie-life/news/texas-a-m-announces-the-2024-u-s-senator-phil-gramm-doctoral-fellowship-award-winners" target="_blank" rel="noopener noreferrer">U.S. Senator Phil Gramm Doctoral Fellowship, 2024</a> </li>
  <li> Fox Graduate Fellowship, 2024 </li>
  <li> <a href = "https://tamids.tamu.edu/2024/07/15/tamids-announces-2024-2025-student-ambassador-cohort/" target="_blank" rel="noopener noreferrer">Texas A&M Institute of Data Science (TAMIDS) Student Ambassador Scholarship, 2023 & 2024</a> </li>
  <li> <a href = "https://www.iise.org/Details.aspx?id=17500" target="_blank" rel="noopener noreferrer">Winner, IISE Data Analytics & Information Systems (DAIS) Student Best Paper Contest, 2023</a> </li>
</ul>
</p>

</article>
</div>
</div>
</body>

