---
layout: page
title: Yuhao Zhong
weight: 1.5
show: 1
---
<header style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
  <!-- University Logo on the left -->
  <div>
      <img src="images/TAMUlogo.png" alt="Logo" style="height: 76px;">
  </div>

  <!-- Navigation Links on the right -->
  <nav>
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: center; gap: 20px;">
        <li><a href="/index.html" style="text-decoration: none; color: none;"></a></li>  
        <li><a href="/index.html" style="text-decoration: none; color: blue;">Home</a></li>
        <li><a href="/news/" style="text-decoration: none; color: blue;">News</a></li>
        <!-- <li><a href="/papers/" style="text-decoration: none; color: blue;">Publications</a></li> -->
        <li><a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: blue;">Publications</a></li>
        <li><a href="/teaching/" style="text-decoration: none; color: blue;">Teaching</a></li>
        <li><a href="/blogs/" style="text-decoration: none; color: blue;">Blogs</a></li>
    </ul>
  </nav>
</header>

  <div class="page-content">
    <div class="wrapper">
      <article class="post">

        <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
          <!-- Profile Image -->
          <div style="margin-right: 20px;">
              <img src="images/YuhaoZhong_pic.jpg" alt="Yuhao Zhong" style="height: 200px; border: none; box-shadow: none;">
          </div>
      
          <!-- Profile Information -->
          <div style="text-align: center;">
              <h1>Yuhao Zhong</h1>
              <p>
                  <b>Ph.D. Candidate, advised by Prof. Satish Bukkapatnam</b><br>
                <b>Wm Michael Barnes '64 Department of Industrial and Systems Engineering</b><br>
               <b>Texas A&M University</b>
              </p>
              <!-- Links -->
              <p>
                  <a href="mailto:hirobin_zhong@tamu.edu" style="text-decoration: none; color: blue;">[hirobin_zhong at tamu.edu]</a> 
                  <a href="data/Yuhao_s_CV.pdf" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #0000ff;">[CV]</a> 
                  <a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: blue;">[Google Scholar]</a> 
                  <a href="https://github.com/YuhaoZhong-tamu/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: blue;">[Github]</a> 
                  <a href="https://www.linkedin.com/in/yuhao-zhong/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: blue;">[Linkedin]</a>
              </p>
          </div>
      </div>
<br><br>
<p style="font-size: 18px">
  
  My research focuses on advancing <b><i>Data Science</i></b> methodologies to address fundamental challenges related to quality and performance assurance, 
    as well as knowledge discovery, 
    primarily in <b><i>Manufacturing</i></b> processes and systems in the context of Industry 4.0/5.0. I am currently on the job market!
</p>


<h2> Current Research Areas </h2>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Advancement of explainable AI and generative AI methods </li>
  <li> Process-structure-property (PSP) knowledge discovery and uncertainty quantification </li>
  <li> Defect detection and localization  </li>
  <li> Human-centric autonomous robotic control and monitoring </li>
</ul>
</p>

<h2> Recognition </h2>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> <a href = "https://grad.tamu.edu/aggie-life/news/texas-a-m-announces-the-2024-u-s-senator-phil-gramm-doctoral-fellowship-award-winners" target="_blank" rel="noopener noreferrer">2024 U.S. Senator Phil Gramm Doctoral Fellowship</a> </li>
  <li> 2024 Fox Graduate Fellowship </li>
  <li> <a href = "https://tamids.tamu.edu/2024/07/15/tamids-announces-2024-2025-student-ambassador-cohort/" target="_blank" rel="noopener noreferrer">2023 and 2024 Texas A&M Institute of Data Science Student Ambassador Scholarship</a> </li>
  <li> <a href = "https://www.iise.org/Details.aspx?id=17500" target="_blank" rel="noopener noreferrer">2023 Winner of the IISE Data Analytics & Information Systems (DAIS) Student Best Paper Contest</a> </li>
</ul>
</p>

<h2>Latest News</h2>
<ul>
  {% for post in site.posts limit: 3%}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}
      <p>{{ post.excerpt | strip_html }}</p> <!-- This displays the post excerpt -->
    </li>
  {% endfor %}
</ul>

<a href="/news/">See all news →</a>

<head>
  <style>
    .paper-images {
      display: flex;
      flex-wrap: wrap;
    }

    .paper-images img {
      margin-right: 10px;
      margin-bottom: 10px;
      max-width: 200px;
    }
  </style>
</head>

<h2>Selected Publications</h2>
<ul>
  {% for paper in site.papers limit: 3 %}
    <li>
      <h3><a href="{{ paper.url }}">{{ paper.title }}</a></h3>
      <p><strong>Authors:</strong> {{ paper.authors }}</p>
      <p><strong>Year:</strong> {{ paper.year }}</p>
      <p><strong> In:</strong> {{ paper.journal }}</p>
      <p><strong>tldr:</strong>{{ paper.tldr}}</p>
      {% if paper.images %}
        <div class="paper-images">
          {% for image in paper.images %}
            <img src="{{ image }}" alt="{{ paper.title }} image" style="max-width: 200px; margin-right: 10px;">
          {% endfor %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<a href="https://scholar.google.com/citations?user=RsfD6hMAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">See all publications </a>

</div>
</div>
</article>
</div>
</div>


