---
layout: page
title: "News"
permalink: /news/
---
<style>
  h1 {
    display: none;
  }
  
  h2 {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 2px;
  border-bottom: 4px solid #600c0c; /* Creates the line */
  padding-bottom: 2px; /* Adds space between the text and the line */
  }

  h3 {
  font-size: 20px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 2px;
  border-bottom: 2px solid #d3d3d3; /* Creates the line */
  padding-bottom: 2px; /* Adds space between the text and the line */
  }
</style>

{% include header.html %}

<h2 style="font-size: 29px;">News</h2>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B, %Y" }}
    <p><i>{{ post.excerpt | strip_html }}</i></p> <!-- This displays the post excerpt -->
  </li>
  {% endfor %}
</ul>
