---
layout: page
title: "News"
permalink: /news/
---
<body style="background-color: #fff6e8;">
<style>
  h1 {
    display: none;
  }

  h2 {
    border-bottom: 2px solid #681313 !important; /* Creates the line */
  }
</style>

{% include header.html %}

<h2 style="font-size: 29px;">News</h2>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B, %Y" }}
    <p><i>{{ post.excerpt | strip_html }}</i></p> <!-- This displays the post excerpt -->
  </li>
  {% endfor %}
</ul>

</body>