/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #333;
  }
  
  /* Main Content */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 2px;
    border-bottom: 2px solid #d3d3d3; /* Creates the line */
    padding-bottom: 4px; /* Adds space between the text and the line */
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 2px;
  }
  
  ul li {
    margin-bottom: 2px;
    font-size: 18px;
  }
  