<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}{% if site.title %} | {{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

  <style>
    body { background-color: #fffbf6; }

    h1 { display: none; }
    h2 { border-bottom: 2px solid #681313 !important; }

    .lab-name {
      font-size: 16px;
      font-weight: bold;
      color: #861F41;
    }

    .page-link.active {
      font-weight: 800;
    }
    
  </style>
</head>

<body>
  {% include header.html %}  <!-- your shared header/nav -->
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

</body>
</html>

